
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* *{
    margin: 0px;
    padding: 0px;
} */

/* shared style */
.display-flex{
    display: flex;
}
section {
    margin: 200px auto;
}

/* nav styles */
header {
    max-width: 1300px;
    margin: 0px auto;

}
.nav-bar {
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
.nav-title {
    font-size: 1.5rem;
    font-weight: bold;
    height: 52.2px;
    max-width: 243px;
    /* margin-left: 120px; */
    color: #3A3A3A;
}
.nav-ul {
    list-style: none;
    gap: 35px;
    /* margin-right: 120px; */
}
.nav-list a {
    text-decoration: none;
    color: #3A3A3A;
}
.nav-list a:hover {
    /* width: 500px;
    height: 500px; */
    color: rgb(242, 8, 8);
    transition: 0.51s ease-in-out;
    /* animation-duration: 0.3s; */
}
/* header style */
.head-button {
    border-radius: 41px;
    background-color: #E02C6D;
    border: none;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    gap: 13px;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
}
.head-button:hover{
    background-color: #ef0058;
    transition: 0.51s ease-in-out;
}
.head {
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    
    
}
/* .head-info {
    max-width: 600px;
    height: 300px; */
}
 .head-title {
    font-size: 3.25rem;
    color: #3A3A3A;
 }
.head-description {
    color: #3A3A3A;
    font-size: 1rem;
    font-size: 600;
}
.head-info {
    max-width: 600px;
    height: 300px;
}
.head-img {
    position: relative;
    width: 475px;
}
.banner-img {
     background-image: url(../images/Circle\ design.svg) ;
     background-size:cover;
     margin-right: 35px; 
     width: 100%; 
}
.online-shops {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 10px;
    /* justify-content: space-around; */
}
.shop {
    /* height: 50px;
    max-width: 100px; */
}
/* main section style */
main{
    max-width: 1100px;
    margin: 0px auto;
}
.collection-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 50px;
}
.star{
    height: 16px;
    width: 16px;
    margin: 0px;
}
.card-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: rgba(24, 25, 31, 1);
    margin: 0px;
}
.card-price {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px;
}
.rating {
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.card-rating {
    gap: 10px;
    margin: 0px;
}
.card-rating-number {
    font-size: 0.90rem;
    font-weight: bold;
    color: rgba(94, 99, 102, 1);
}
.card-description {
    margin: 0px;
    font-size: 0.90rem;
    font-weight: bold;
    color: rgba(120, 120, 133, 1);
}
.collection-card{
    height: 480px;
    width: 330px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.25) ;
    /* border: 1px solid black; */
    padding: 15px 0px 0px 20px;
}
.popular-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0px auto;
}
.collection-card:hover {
    background-color: rgb(233, 231, 231);
    transition: 0.25s ease-in-out;
}




@media screen and (max-width: 767px) {
    .nav-bar, .nav-ul, .head{
        flex-direction: column;
        align-items: center;
        justify-content: center;
         margin: 0px;
        padding: 0px;

    }
    .nav-title {
        margin-right: 30px;
    }
    .popular-collection {
        grid-template-columns: repeat(1, 1fr);
    }

}
